<header class="site-header" role="Header" data-section-id="{{ section.id }}" data-section-type="header">
    <div class="container header__container">
        <div id="errorMessageBox" class="error-message-box centered"></div>
        <form action="{{ routes.cart_url }}" method="post" novalidate class="cart">
            <div class="shopping-cart flow-content default-transition">
            
                <div class="back-clear-buttons">
                    <button class="main-button cart__button--clear">Clear Cart</button>
                    <button class="cart__button--back">Keep Shopping {% render 'icon-arrow-right' %}</button>
                </div>
                <h2 class="section-heading cart__heading">Your Cart</h2>
                <div class="cart__proceed-button-wrapper">
                    <button type="submit" name="checkout" class="main-button cart__proceed-button">Proceed to Checkout</button>
                </div>
            </div>
        </form>
        {% comment %}  Notification bar {% endcomment %}

        {% if section.settings.notification-enable and section.settings.notification-text != blank %}
            <div class="notification" aria-label="Notification bar">
                {% if section.settings.notification-link != blank %}
                    <a href="{{ section.settings.notification-link }}" class="notification__link" aria-liabel="Notification details">
                        <span class="notification__text">{{ section.settings.notification-text | escape }}</span>
                    </a>
                {% else %}
                    <span class="notification__text">{{ section.settings.notification-text | escape }}</span>
                {% endif %}
                {% if section.settings.is-closable == true %}
                    <button class="notification__close" aria-label="Close notification">
                        {% render 'icon-notification-close' %}
                    </button>
                {% endif %}
            </div>
        {% endif %}

        
        <a aria-label="Homepage" href="{{ routes.root_url }}"><div class="header__logo">{{ 'logo.svg' | asset_url  | img_tag: 'Shoesie shoes' }}</div></a>
        <nav class="navigation sm--default-transition">
                
            <button class="navigation__close-button" aria-label="Close Menu">{% render 'icon-close' %}</button>
            
            <ul class="navigation__menu">
                
                {% for link in linklists['main-menu'].links %}
                    <li> 
                        
                    {% if link.active == false %}
                        <a class="navigation__menu-link" href="{{ link.url }}">{{ link.title }}</a>
                    {% else %}
                        <p class="navigation__menu-link--active" aria-current="page">{{ link.title }}</p>
                    {% endif %}
                    
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="header__links">

            
            <button class="header__cart" aria-label="Open Shopping bag" aria-collapsed="true">{% render 'icon-bag' %}
                <div class="header__cart-count visually-hidden"></div>
            </button>
            <button class="navigation__menu-button" aria-label="Navigation menu" aria-collapsed="true">{% render 'icon-hamburger' %}</button>
            
        </div>
        
    </div>
</header>

{% schema %}

{
    "name": "Header",
    "settings": [
        {
            "type": "header",
            "content": "Notification Bar"
        }, {
            "type": "checkbox",
            "id": "notification-enable",
            "label": "Enable Notification Bar"
        }, {
            "type": "checkbox",
            "id": "is-closable",
            "label": "Closable"
        }, {
            "type": "text",
            "id": "notification-text",
            "label": "Text"
        }, {
            "type": "url",
            "id": "notification-link",
            "label": "Link",
            "info": "Optional"
        }, {
            "type": "color",
            "id": "notification-background-color",
            "label": "Background color",
            "default": "#606060"
        }, {
            "type": "color",
            "id": "notification-text-color",
            "label": "Text color",
            "default": "#ccc"
        }, {
            "type": "color",
            "id": "notification-link-color",
            "label": "Link color",
            "default": "#ddd"
        }
    ]
}

{% endschema %}

{% style %}

.notification {
    background-color: {{section.settings.notification-background-color}};
    color: {{section.settings.notification-text-color}};
}

.notification a {
    color: {{section.settings.notification-link-color}};
}

.icon-notification-close {
    fill: {{section.settings.notification-link-color}};
}

{% endstyle %}

{% javascript %}
{% endjavascript %}